---
import CollectionComponent from '../components/CollectionComponent.astro'
import CollectionReactComp from '../components/CollectionReactComp.jsx'
import NavComponent from '../components/NavComponent.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
		<title>Finn Bowman</title>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
	</head>
	<body>
    <!-- <CollectionComponent /> -->
    <NavComponent/>
    <CollectionReactComp client:visible/>
	</body>
</html>
