---
import CollectionComponent from '../components/CollectionComponent.astro'
import Head from '../components/Head.astro'
import NavComponent from '../components/NavComponent.astro'

---

<html lang="en">
	<Head/>
	<body>
    <!-- <CollectionComponent /> -->

<!-- <script is:inline type="module" src="/main.js"></script> -->
     
    
    
    <NavComponent/>
    <CollectionComponent />
	</body>
</html>
