---
import CollectionReactComp from "./CollectionReactComp";
import ThreeDTitle from "./ThreeDTitle.astro";

---


<div class="absolute z-50 top-0 cursor-move">
<ThreeDTitle />
</div>
<CollectionReactComp client:visible/>