---
import { sanityClient } from "sanity:client";


const content_slugs = await sanityClient.fetch(`*[_type == "page"]`);




---

<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>


<button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="transition ease-in delay-0 duration-50   hover:underline">Work
  </button>
  
  <!-- Dropdown menu -->
  <div id="dropdownHover" class="z-10 hidden  bg-white divide-y divide-gray-100 shadow w-full">
      <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownHoverButton">
        {content_slugs.map((data) => {
            return(

            <li>
              <a href={`/${data.slug.current}`} class="block px-[10px] py-2 hover:underline">{data.title}</a>
            </li>
            
            )

        })}
       
      </ul>
  </div>
  