---
import DropMenu from "./DropMenu.astro"
---

<div class="fixed w-full z-50 top-0 start-0 pl-[20px] pt-[20px] pr-[20px] ">
  <div class="flex flex-wrap items-center justify-between">
      <span class="text-3xl font-bold whitespace-nowrap"></span>

  <div class="justify-between w-full h-full md:flex md:w-auto">
    <div class="flex flex-row items-center font-semibold text-l gap-5 pt-[5px] md:pt-[0px] md:gap-20 ">
      <div>
        <a href="/" class="block transition ease-in delay-0 duration-50 hover:text-[#d7d9de] hover:underline">Finn Bowman</a>
      </div>
      <div>
        <DropMenu />
       
      </div>
      <div>
        <a href="/contact" class="block transition ease-in delay-0 duration-50 hover:text-[#d7d9de] hover:underline">Contact</a>
      </div>
      
    </div>
  </div>
  </div>
</div>

