---
import DropMenu from "./DropMenu.astro";
---

<div class="bg-white fixed w-full z-50 top-0 start-0 p-[10px]">
  <div class="flex flex-row items-center text-sm justify-between">
    <DropMenu />
    <div class="flex flex-row gap-[10px]">
      <a
        href="/"
        class="block transition ease-in delay-0 duration-50 hover:underline"
        >Finn Bowman</a
      >
      <a
        href="/contact"
        class="block transition ease-in delay-0 duration-50  hover:underline"
        >Contact</a>
    </div>
  </div>
</div>
